extends layout
block content
    .site-wrap
        .chat-box
            ul
        form.chat-form(action="/home" method="GET")
            input(type="text" placeholder="message")
            button(type='submit') Click